@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f8fafc; /* Root layout 배경색과 통일 */
}

@theme {
  --animate-fade-in: fade-in 1s ease-in-out;
  --animate-fade-out: fade-out 1s ease-in-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
